<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>target_page</title>
    </head>
    <body>
      <!-- <div id="popup">
          <header id="header" class="clearfix">
            <object id="logo" type="image/svg+xml" data="img/logo.svg"></object>
            <button id="close-button" type="submit" name="action" value="send">
                <object type="image/svg+xml" data="img/close_button.svg"></object>
            </button>
          </header> -->
          <section id="main">
            <header id="product-title">
              <h1>{{productInfo.title}}</h1>
              <div id="info" class="clearfix">
                  <div id="size" class="info">寸法：<span>{{productInfo.width | number:1}}</span> <span>{{productInfo.dimensionUnit}}</span> x <span>{{productInfo.height | number:1}}</span> <span>{{productInfo.dimensionUnit}}</span> x <span>{{productInfo.length | number:1}}</span> <span>{{productInfo.dimensionUnit}}</span></div>
                  <div id="weight" class="info">重量：<span>{{productInfo.weight | weight:productInfo.weightUnit}}</span> <span>{{productInfo.weightUnit}}</span></div>
                  <!-- <div id="asin" class="info"><span>ASIN：</span><span>B01M1LIXM6</span></div> -->
              </div>
            </header>
            <ul>
              <ul id="cost" class="row clearfix">
                <div class="index"><span>商品原価</span></div>
                <div class="unit"><span>&yen;</span></div>
                <div class="input">
                  <form action="#"><input class="format-num"  ng-model="productInfo.cost" type="text" value="1,000"  placeholder="0" name="sum"></form>
                </div>
              </ul>
              <ul id="price" class="row clearfix">
                <div class="index"><span>商品価格</span></div>
                <div class="unit"><span>&yen;</span></div>
                <div class="input">
                  <form action="#"><input type="text" ng-model="productInfo.cartPrice" value="500" placeholder="0" name="sum"></form>
              </div>
              </ul>
              <ul class="row">
                <div id="total-sales-fee-wrapper">
                  <header id="total-sales-fee" class="clearfix">
                      <div class="index">
                        <span>出荷費用合計</span>
                        <!-- <button id="toggle-button" type="button" name="scroll_button" value="down">
                            <object type="image/svg+xml" data="img/info_popup.svg"></object>
                        </button> -->
                      </div>
                      <div class="unit"><span>&yen;</span></div>
                      <div class="num"><span>5,352</span></div>
                  </header>
                  <ul class="children">
                    <li id="total-exhibitant-fee-wrapper" class="tooltip-wrapper">
                        <header id="total-exhibitant-fee" class="clearfix">
                            <div class="index">
                              <span>出品手数料合計</span>
                              <button class="tooltip-button" type="button" name="tooltip_button" value="">
                                  <object type="image/svg+xml" data="img/info_popup.svg"></object>
                              </button>
                            </div>
                            <div class="unit"><span>&yen;</span></div>
                            <div class="num"><span>4,290</span></div>
                        </header>
                        <ul class="children tooltip">
                          <li id="referral-fee" class="clearfix">
                              <div class="index"><span>販売手数料</span></div>
                              <div class="unit"><span>&yen;</span></div>
                              <div class="num"><span>4,198</span></div>
                          </li>
                          <li id="closing-fee" class="clearfix">
                              <div class="index"><span>カテゴリー成約料</span></div>
                              <div class="unit"><span>&yen;</span></div>
                              <div class="num"><span>108</span></div>
                          </li>
                        </ul>
                    </li>
                    <li id="total-fba-fee-wrapper" class="tooltip-wrapper">
                        <header id="total-fba-fee" class="clearfix">
                            <div class="index">
                              <span>FBA手数料合計</span>
                              <button class="tooltip-button" type="button" name="tooltip_button" value="">
                                  <object type="image/svg+xml" data="img/info_popup.svg"></object>
                              </button>
                            </div>
                            <div class="unit"><span>&yen;</span></div>
                            <div class="num"><span>1,054</span></div>
                        </header>
                        <ul class="children tooltip">
                          <li id="pick-and-pack-fee" class="clearfix">
                              <div class="index"><span>出荷作業手数料</span></div>
                              <div class="unit"><span>&yen;</span></div>
                              <div class="num"><span>588</span></div>
                          </li>
                          <li id="weight-handling-fee" class="clearfix">
                              <div class="index"><span>発送重量手数料</span></div>
                              <div class="unit"><span>&yen;</span></div>
                              <div class="num"><span>385</span></div>
                          </li>
                          <li id="storage-fee" class="clearfix">
                              <div class="index"><span>月間保管手数料</span></div>
                              <div class="unit"><span>&yen;</span></div>
                              <div class="num"><span>108</span></div>
                          </li>
                        </ul>
                    </li>
                    <li id="delivered-fee"  class="clearfix">
                        <div class="index"><span>納品費用</span></div>
                        <div class="unit"><span>&yen;</span></div>
                        <div class="input">
                          <form action="#"><input type="text" value="150" placeholder="0" name="sum"></form>
                        </div>
                    </li>
                  </ul>
                </div>
              </ul>
              <hr>
              <ul id="total-cost" class="row clearfix">
                <div class="index"><span>総コスト</span></div>
                <div class="unit"><span>&yen;</span></div>
                <div class="num"><span>36,552</span></div>
              </ul>
              <ul id="profit" class="row clearfix">
                <div class="index"><span>純利益</span></div>
                <div class="unit"><span>&yen;</span></div>
                <div class="num"><span>2,248</span></div>
              </ul>
              <ul id="profit-margin" class="row clearfix">
                <div class="index"><span>利益率</span></div>
                <div class="unit"><span>&yen;</span></div>
                <div class="num"><span>5.79</span></div>
              </ul>
              <ul id="roi" class="row clearfix">
                <div class="index"><span>投資利益率(ROI)</span></div>
                <div class="unit"><span>&yen;</span></div>
                <div class="num"><span>6.15</span></div>
              </ul>
            </ul>
          </section>
          <!-- <footer id="footer">
            <div id="info" class="clearfix">
              <div id="size" class="info"><span>寸法：</span><span>49.0 x 27.0 x 10.0 cm</span></div>
              <div id="weight" class="info"><span>重量：</span><span>3.057 kg</span></div>
              <div id="asin" class="info"><span>ASIN：</span><span>B01M1LIXM6</span></div>
            </div>
            <div id="copyright">
              <span>© 2018 Kazuki Takahashi</span>
            </div>
          </footer>
      </div> -->
    </body>
</html>